html, body {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    margin-top: 50px;
    text-align: center;
}

.title {
    color: #DCD8B6;
    font-size: 50px;
}

.links > a {
    color: #636b6f;
    padding: 15px 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.btn:hover {
    box-shadow: 0 0 0 3px rgba(0,123,255,.25);
}

.m-b-md {
    margin-bottom: 30px;
}

.donate-link {
    margin-top: 50px;
}
